<script type="text/javascript">
	
</script>

<%- include('header') -%>
	
	<!-- EJS Embed JavaSricpt use below tag
	Use "< % -"" to enable html tag in varible -->
	
	<div id='root' class="container">
	</div>
	
	<!-- "< %= content % > " -->

<%- include('footer') %>

